/* * {
    margin: 0; 
    padding: 0; 
}

body, html {
    width: 100%;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: darkcyan;
    padding: 1em; 
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    background-color: transparent;
}

input {
    border: 2px solid darkcyan;
    background-color: white;
    border-radius: 5px;
    padding: 5px; 
    margin: 5px; 
    width: 60%;
}


button {
    background-color: darkgray;
    border-style: none;
    color: white;
    box-shadow: 0.5px 1px 2px 1px #525252;
    border-radius: 5px;
    padding: 5px; 
    margin: 5px auto; 
    width: 10em;

}

.login-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    border-radius: 6px;
    padding: 1em; 
    width: 35%;
    margin: 1em auto; 
}

.broadcast-container {
    background-color: white;
    height: 200px; 
    margin: 1px auto; 
}

.emergency-broadcast {
    background-color: transparent;
    text-align: center;
    font-size: 2em;
    line-height: 6em;
    animation: slide-in 8000ms infinite;
    animation-timing-function: linear;
}

.chatroom-field {
    text-align: center;
}

.container {
    padding: 2em; 
}

.time, 
.sender,
.message {
    list-style: none;
    margin: 1em; 
}

li {
    padding: 1em; 
}

@keyframes slide-in {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(70%);
    }
} */